.button {
  border: none;
  font-size: 2.2rem;
  width: 100%;
  padding: 1rem 0;
  font-family: inherit;
  color: var(--text-color);
  box-shadow: var(--general-shadow);
  cursor: pointer;
  border-radius: 1rem;

  &--green {
    @extend .button;
    background-color: rgb(58, 148, 49);
  }

  &--red {
    @extend .button;
    background-color: var(--red-color);
  }
}
