.button {
  border: none;
  font-size: 1.8rem;
  width: 100%;
  padding: 0.8rem 0;
  font-family: inherit;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0.5rem;

  &--green {
    @extend .button;
    background-color: rgb(58, 148, 49);
  }

  &--red {
    @extend .button;
    background-color: var(--red-color);
  }
}
