.place {
  padding-bottom: 0;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  font-weight: 500;
  padding: 1rem;

  &__category {
    font-size: 1.4rem;
    font-weight: inherit;
    color: var(--tertiary-color);
  }

  &__name {
    font-size: 2rem;
    font-weight: inherit;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
